.my-list-modal {
  width: 70%;
  height: 80%;
  margin: auto;
  background-color: #fff;
  color: rgb(100,100,100);
}

.my-list-modal-header {
  background-color: rgb(11,87,117);
  line-height: 10%;
}

.my-list-modal-header img {
  min-height: 100%;
  position: relative;
}

#my-list-modal-header-text {
  position: absolute;
  top: 1.5%;
  left: 20%;
  font-family: 'ElectroluxSans_Semibold';
  color: #fff;
}

.share-mylist {
  background-color: rgb(235,104,82);
  position: relative;
}

.share-mylist:after {
  content:'';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -15px;
  width: 0;
  height: 0;
  border-bottom: solid 15px rgb(235,104,82);
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
}

.share-mylist h2 {
  padding: 2% 0;
  margin: 0;
  color: #fff;
  text-align: center;
}

.my-list-modal-footer {
  text-align: center;
}

.my-list-modal-content h2 {
  padding: 2%;
  margin: 0;
}

.my-list-modal-footer button {
  background-color: rgb(154,154,154);
  color: #fff;
  border: none;
  padding: 1% 2%;
  position: relative;
  display: block;
}
